.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      .side-bar__user-name__box__name
        masa
      .side-bar__user-name__box__icons
        = link_to "#", class: "side-bar__user-name__box__icons__icon" do
          = icon('fas', 'edit')

        = link_to "#", class: "side-bar__user-name__box__icons__icon" do
          = icon('fas', 'cog')
  .side-bar__group-lists
    .side-bar__group-lists__list
      .side-bar__group-lists__list__name
        techcamp1
      .side-bar__group-lists__list__new-message
        まだメッセージがありません
    .side-bar__group-lists__list
      .side-bar__group-lists__list__name
        techcamp2
      .side-bar__group-lists__list__new-message
        まだメッセージがありません
    .side-bar__group-lists__list
      .side-bar__group-lists__list__name
        techcamp3
      .side-bar__group-lists__list__new-message
        まだメッセージがありません